:root {
    --font_primary:white;
    --font_secondary: #01ace8;
    --font_third: #02b0f5;
    --italic-font: #c4c4c4;
    --background_service:#c9c8c8;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("src/lib/images/background.jpg");
    background-position: center;
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 5, 12, 0.35);
    backdrop-filter: blur(7px);
    z-index: -1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}